
header {
    background-color: #1C1C1C;
    padding: 10px 20px;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.nav-link {
    color: #ffffff;
    text-decoration: none;
    margin: 0 10px;
    padding: 15px 20px;
    transition: color 0.3s;
}

.nav-link:hover {
    color: #e9ecef;
}

.right-nav {
    display: flex;
    align-items: center;
    gap: 20px;
}

.search-text {
    padding: 8px 12px;
    border-radius: 20px;
    border: 1px solid #444;
    background-color: #2a2a2a;
    color: white;
}

.login-btn {
    padding: 8px 20px;
    border-radius: 20px;
    background-color: #333;
    color: white;
    cursor: pointer;
}


body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 900px;
    width: 100%;
    padding: 50px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.profile-header {
    display: flex;
    align-items: flex-start;
    gap: 50px;
    width: 100%;
}

.avatar_p {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
}

.avatar_p:hover {
    transform: scale(1.05);
}

.profile-details {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1; /* Заполняет оставшееся пространство */
}

.profile-details h1 {
    margin: 0;
    font-size: 24px;
}

.profile-age,
.profile-email,
.profile-description {
    margin: 5px 0;
}

.edit-button,
.settings-button {
    padding: 10px 20px;
    border: none;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.edit-button:hover,
.settings-button:hover {
    background-color: #555;
}

.social-links {
    margin-top: 20px;
    width: 100%;
}

.social-links h2 {
    margin-bottom: 10px;
}

.social-links ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.social-links li {
    margin-bottom: 5px;
}

.social-links a {
    color: #333;
    text-decoration: none;
    transition: color 0.3s;
}

.social-links a:hover {
    color: #007bff;
}

.history-section,
.favorites-section,
.activity-section {
    margin-top: 20px;
    width: 100%;
}

.movie-list,
.activity-log {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.movie-list li,
.activity-log li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.movie-list li:last-child,
.activity-log li:last-child {
    border-bottom: none;
}




